.szeles {
    width: 500px;
}

.szegely {
    border: 2px solid violet;
}
.logo {
    width: 130px;
    
}
.kep{
    width: 100%;
}
.nav-link{
    width: 100%;
    margin: 20px;
    color: white;
}
.fejlec {
    background-color: lightblue;

    width: 100% !important; 
    height: 20%;
}
.menu1{
    font-size: 20pt;
    vertical-align: middle; 
}
@media screen and (max-width: 768px) {
    .navbar-nav {
    display: flex;
    justify-content: flex-end;
    }
    .logo {
        width: 100%;
    }
   .menu1 {
    font-size: 12pt;
   }
}
@media screen and (min-width: 769px) {
    .tovabbijarmuvek {
        margin-top: 50px;
        font-size: 16pt !important;
    }
}
@media screen and (min-width: 993px) {
    .tovabbijarmuvek {
        margin-top: 0;
        font-size: 16pt !important;
    }
}

ul {
    list-style-type: none;
    padding: 0 20px;
}

.nav-link:hover {
    color: black;
    background-color: white;
}
.kinalat {
    background-color: black;
    height: 70px;
    text-align: center;
    font-size: 30pt;
    color: white;
}
.kozepKinalat{
    text-align: center;
    font-size: 35pt;
}
.szemelyautok {
    height: 500px;
    text-align: center;
    justify-content: center;
    line-height: 2;
    border-radius: 10px;
}
.kisteherek {
    
    height: 500px;
   
    text-align: center;
   line-height: 2;
   border-radius: 10px;
   
}
.tovabbijarmuvek {
    text-align: center;
    font-size: 20pt;
    background-color: cornflowerblue;
}
a, a:hover{
    text-decoration: none;
    color: black;
}
#nincsHely {
    line-height: normal;
}
.tovabbi_informacio {
    background-color: black;
    width: 80%;
    color: white;
    border-radius: 0 10px;
    text-align: center !important;
    justify-content: center !important;
}
.tablazat {
    text-align: left;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;  
}
.hirdetes {
    box-sizing: border-box;
    padding: 0 10px;
}
.hirdetesBelso {
    border: 2.5px solid darkgray;
}
li {
    padding-left: 20px;
}